.SearchImage, 
.SpeakImage,
.AccountImage,
.AppsButton {
   border: none;
   background-color: transparent;
}

p {
    margin-right: 7px;
    font-size: 15px;
}

.BasicButton {
    border: none;
    background-color: rgb(226, 223, 226);
    margin-right: 10px;
    margin-top: 20px;
    height: 35px;
    font-family: Poppins;
    border-radius: 2px;
}

.GoogleLogo {
    height: 150px;
}

.Logo {
    display: flex;
    justify-content: center;
}

.SearchBar {
    width: 100%;
    height: 20px;
    border: 0;
    outline: none;
}

.Form {
    width: 100%;
    height: 30px;
}

.SearchBox {
    display: flex;
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    border-color: rgb(225, 220, 220);
    border-width: 2px;
}

.SearchBox:hover {
    box-shadow: 5px 5px 15px 0.2px rgba(169, 166, 166, 0.679);
}

.HeaderBar {
    display: flex;
    justify-content: flex-end;
}

.SpeakImage {
   margin-right: 5px;
   margin-left: auto; 
   outline: none;
}

.SearchImage {
    margin-left: 5px;
    outline: none;
}

.Buttons {
    display: flex;
    justify-content: center;
}

.Border {
    margin-left: 90px;
    margin-right: 90px;
}

body {
    font-family: Poppins;
}

.Footer {
    display: flex;
    justify-content:space-around;
    position: absolute;
    bottom: 0px;
    background-color: rgb(226, 223, 226);
    width: 100%;
}
